body{
    font-family: 'Festive', cursive;
    font-family: 'Zen Old Mincho', serif;
    margin: 0%;
    padding-left: 3%;
}
h1{
    font-size: 50px;
    padding: 5px;;
}
h2{
    color: rgb(109, 109, 17);
    font-size: 80px;
}
h4{
    color: yellowgreen;
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
p{
    font-size: 30px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    font-size: 30px;
    padding: 10px 40px;
    border-radius: 10%;
}
.orange-color{
    color: rgb(205, 50, 84);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.full-width{
    width: 80%;
}
.full-width img{
    width: 40%;
}
.experiance-item{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow:10px 10px 30px yellowgreen;
}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-develop{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full-stack-experiance{
    border-left: 10px solid;
    border-image: linear-gradient(green,tomato);
    border-image-slice: 1;
}
footer{
    font-size: 30px;
    text-align: center;
}
